* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden
}

/* experience */

#experience {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    /* overflow: hidden; */
}

#experience-canvas {
    width: 100%;
    height: 100%;
}

/* utiities */
.hidden {
    display: none;
}


/* modal */

.modal {
    z-index: 1000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 700px;
    background-color: burlywood;
    border: 2px solid whitesmoke;
    color: black;
}

.modal-wrapper {
    padding:12px ;
}

.modal-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}